.admin__title {
  max-width: 900px;
  padding: 60px 0 20px 0;
  margin: 100px auto 0 auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid #727272;
  background-color: yellow;
}

@media(min-width: 800px) {
  .admin__title {
    margin: 40px auto;
  }
}