.search {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search__form {
  display: flex;
  flex-basis: 100%;
  max-width: 500px;
  border: 1px solid #727272;

}

.search__button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  height: 33px;
  background-color: transparent;
}

.search__icon {
  width: 20px;
  filter: invert(43%) sepia(30%) saturate(8%) hue-rotate(336deg) brightness(97%) contrast(94%);
  cursor: pointer;
  transition: 0.2s;
  margin: 0 9px;
}

.search__icon:hover {
  filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(13deg) brightness(95%) contrast(105%);
}

.search__input {
  height: 100%;
  width: 100%;
  padding: 0 7px;
  outline: none;
  border: none;
  border-left: 1px solid #727272;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
}

.search__input:focus {
  -webkit-box-shadow: inset 0px 0px 5px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 5px -2px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 5px -2px rgba(66, 68, 90, 1);
}

.search__input:focus::placeholder {
  color: transparent;
}