.search {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto 25px auto;
}

.search__form {
  position: relative;
  display: flex;
  flex-basis: 100%;
  max-width: 500px;
}

.search__button,
.cancel__button {
  position: absolute;
  top: 4px;
  left: 2px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  height: 33px;
  background-color: transparent;
}

.cancel__button {
  left: auto;
  right: 2px;
  opacity: 0;
}

.search__icon,
.cancel__icon {
  width: 21px;
  filter: invert(58%) sepia(2%) saturate(0%) hue-rotate(311deg) brightness(100%) contrast(89%);
  cursor: pointer;
  transition: 0.2s;
  margin: 0 9px;
  color: #a31f1f;
}

.cancel__icon {
  width: 21px;
}

.search__icon:hover,
.cancel__icon:hover {
  filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(13deg) brightness(95%) contrast(105%);
}

.search__input {
  height: 40px;
  width: 100%;
  padding: 0 40px;
  border: 1px solid #919191;
  outline: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 2.4rem;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__input::placeholder {
  color: #919191;
}

.search__input:focus::placeholder {
  color: transparent;
}

.cancel__button--visible {
  opacity: 1;
}

.search__input:focus {
  -webkit-box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
}


@media (min-width:800px) {

  .search__button,
  .cancel__button {
    top: 1px;
  }

  .search__input {
    font-size: 2rem;
    height: 34px;
  }

  .search__icon {
    width: 18px;
  }

  .cancel__icon {
    width: 17px;
  }
}