.login {
  min-height: calc(100vh - 300px);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__title {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.login__form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  transform: translateY(50px);
}

.login__input {
  height: 46px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 5px;
  border: 1px solid #919191;
  outline: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
}

button.login__button {
  height: 48px;
  line-height: 1;
}

.login__warning {
  flex-basis: 100%;
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  color: red;
  font-weight: 700;
  text-align: center;
  padding: 5px 15px;
}

@media (min-width: 800px) {
  .login {
    margin-top: 0px;
    min-height: calc(100vh - 350px);
  }

  .login__form {
    transform: translateY(0);
  }

  .login__input {
    height: 36px;
  }

  button.login__button {
    height: 40px;
  }
}