.article {
  margin: 100px auto 0 auto;
  max-width: 900px;
}

.article__img {
  width: 100%;
}

.article__title {
  margin: 20px auto;
  font-family: 'Noto Serif Display', serif;
  font-size: 3.2rem;
  font-weight: 600;
}

.article__date {
  font-family: 'Vollkorn', serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.412);
}


.article__text {
  font-family: 'Catamaran', sans-serif;
  margin: 20px auto;
  font-size: 2rem;
  font-weight: 400;
}

@media (min-width:560px) {
  .article {
    margin: 100px 10vw 0 10vw;
  }
}

@media (min-width:800px) {
  .article {
    margin: 0 auto;
  }
}